.pokemon {
	font: 16px;
	background: rgba(152, 216, 213, 0.39);
    
}
.pokemon img {
	height: 80px;
	width: 60px;
}

div.pokemon {
	width: 20%;
	background-color: rgba(187, 184, 184, 0.322);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	justify-content: center;
	text-align: center;
	padding: 10px 0;
    margin: 15px 20px;
}
